@font-face {
	font-family: iransans;
	src: url('../font/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
	url('../font/IRANSansWeb(FaNum).woff') format('woff'),
	url('../font/IRANSansWeb(FaNum).woff2') format('woff2'),
	url('../font/IRANSansWeb(FaNum).ttf') format('truetype')
}
.hfont {
	font-size: 11px;
}

body{

	direction:rtl;
	font-family:iransans;
	font-size: 14px;
}

.colfooter {
	border-top: 2px solid;
	padding-top: 20px;
	margin-right: 5px;

height: 200px;
	text-align: right;
}

#one{border-color:#8b00af;}
#two{border-color:#d40062;}
#three{border-color:#ff0613;}
#four{border-color:#ffc300;}


.text2 {
	width: 350px;height: 200px;
	text-align: right;
}

.footerp {

	text-align: right;

}
.firstfooter {
background-color:#202020 !important;
}

.secondfooter {
	    background-color: #191919 !important;
		padding-top: 2% !important;
		padding-bottom: 2% !important;
}
.secondfooter .here{
	padding-top: 10px !important;
}
.appl {
	margin: 4.5px;

	width: 130px;
	height: 40px;
	border: 1px solid #4a4a4a;
    border-radius: .4rem;
}

.namad1{
	margin: 10px;
	width: 100px;

}
.namad2{

	margin: 10px;
	width: 135px;

}

.socials{
	width: 25px;
	height:25px;
	margin: 7px;
}
