@font-face {
	font-family: iransans;
	src: url('../font/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
	url('../font/IRANSansWeb(FaNum).woff') format('woff'),
	url('../font/IRANSansWeb(FaNum).woff2') format('woff2'),
	url('../font/IRANSansWeb(FaNum).ttf') format('truetype')
}

body{
	
	direction:rtl;
	font-family:iransans;
	font-size: 14px;
}

#sandwich{
	background-image: url("../img/sandwich_1539782856.jpeg@!cuisine_card");
	

}

#burger{
	background-image: url("../img/hamburger_1539779150.jpeg@!cuisine_card");
}

#pizza{
	background-image: url("../img/pizza_1539780235.jpeg@!cuisine_card");
}

#kebab{
	background-image: url("../img/kebab_1525012065.jpeg@!cuisine_card");
	
}
.bgcoloorblue {
	background-color: #f6f9fc;
	width: 100%;
}

.foods {
	margin-left: 5px;
	margin-right: 5px;
	background-position: center;
	background-repeat: no-repeat;
	width: 274px;
	height: 293px;
	border-radius: .3rem;
    position: relative;
    z-index: 100;
    text-decoration: none;
    
    display: block;
    overflow: hidden;
	transition: box-shadow .2s ease-in,-webkit-box-shadow .2s ease-in;
	 cursor: pointer;
	 
	 
}
.photo-gallery .intro{
	max-width: 800px;
	width: 100%
}
.photo-gallery .intro p{
	color: #202020;
	font-size : 1.5rem;
	text-align: center;
	width: 100%;
	
}
.photo-gallery .intro h2{
	
	margin-bottom: 10px;
}
.foods .item{
	position: relative !important;
	width: 100% !important;
	height: 100%;
	background-image: linear-gradient(181deg,transparent,rgba(0,0,0,.01) 10%,rgba(0,0,0,.78));
}
.foods > .item > div{
	
	position: absolute !important;
	bottom: 4px;
	right: 15px;
}
.foods:hover  .trans{
	bottom: 8px;
	transition: bottom;
	transition-timing-function: ease-out;
	transition-delay: 1s;
	transition-duration: 3s;
}

.thefood{
	text-align: right !important;
	 color: white !important;
	 position: relative;
	 font-size: 1.82rem;
    font-weight: 700;
}
.therestaurant{
	text-align: right !important;
	 color: white !important;
	 position: relative;
}

.bgcoloorblue button{
	font-weight: bold;
	font-size: 1.05rem;
	background-color: white !important;
	color: black !important;
	border: white !important;
	border-radius: 2rem;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}


.bgcoloorblue button:hover{
	box-shadow: 0 0.3rem 2rem rgba(0,0,0,.2);
}

#moremargin{
	
	padding-bottom: 80px !important;
}