@font-face {
	font-family: iransans;
	src: url('../font/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
	url('../font/IRANSansWeb(FaNum).woff') format('woff'),
	url('../font/IRANSansWeb(FaNum).woff2') format('woff2'),
	url('../font/IRANSansWeb(FaNum).ttf') format('truetype')
}

body{
	
	direction:rtl;
	font-family:iransans;
	font-size: 14px;
}
#header1{
	position:relative; z-index:10; background-color:white;
}
#menubg {
	overflow: hidden;
	width: 100%;
	margin-top: -20%;
}
#tcp{
	border-bottom: 1px solid rgb(231,231,231);
	    border-radius: 1rem 1rem 0 0;
}

#ctd {
	margin: -6px;margin-top: -50%;margin-right: 0px;margin-bottom: 0px;padding-bottom: 1.5%;margin-left: 25%;width: 740px;max-width: 50%;padding-left: 0px;
	border-radius: .4rem .4rem 0 0;
    background-color: #fff;
    box-shadow: 0 0.4rem 1.6rem 0 rgba(0,0,0,.11);
}
#dib {
	width: 40%;
}

#bbtf{
	margin: 0px;margin-top: -79px;margin-right: 0px;margin-left: 0px;background-color: rgb(231,231,231);
}

#foodpng {
	border-radius: 0.2rem;
	height: 100px;
	width: 100px;
	box-shadow: 0 0.3rem 2rem rgba(0,0,0,.2);
	margin-top: -10%;width: 20%;
}

#bb {
	margin-top: -80px;margin-right: -106px;height: 33px;background-color: rgb(231,231,231);
}

#h4td {
	width: 400px;padding-left: 35%;height: 55px;
}

.col-md-3 .d-inline-block .sd{
	
	padding-right: 10px!important;
	padding-left: 10px!important;
	max-width: 33%!important;
	display: inline-block;
	max-width: 33%;
}
.sd a{
	color: gray;
}
.sd a:hover{
	text-decoration: none;
	color: black;
}

.h4trdi{
	width: 25%;margin-right: 0%;margin-left: 47%;
}
.submenu{
	text-align: right;
	border-right: 1px solid rgb(231,231,231);
}
.submenu div{
	margin-top: 20px;
	margin-bottom: 20px;
}
.submenu a{
	text-decoration: none;
	color: gray;
}
.submenu a:hover{
	text-decoration: none;
	color: black;
}
.sd :after {
	
    content: "";
    position: absolute;
    bottom: -20.8px;
    bottom: -1.3rem;
    left: 50%;
    margin-left: -25.6px;
    margin-left: -1.6rem;
    width: 51.2px;
    width: 3.2rem;
    height: 3.2px;
    height: .2rem;
    background-color: #d40062;
}

.subs a{
	text-decoration: none;
	font-size: 1.3rem;
	text-align: right;
}
.subs {
	text-align: right;
}
.subs a:hover{
	text-decoration: none;
	cursor: auto;
}

.subss{
	background-color: #fff;
	border-bottom: 1px solid #e9e9e9;
	cursor: pointer;
	height: 200px;
	margin-bottom: 10px;
	margin-top: 10px;
    border-radius: .5rem;
	padding: 10px;
	
	
}

.subss:hover {
	
    
	box-shadow: 0 0.3rem 2rem rgba(0,0,0,.2);
}
body { background-color: #fafafa;
}

.highlight-clean {
    
    background-color: #fafafa;
}

.nameandprice {
	display:block; height: 30px;
					width: 100%;
}

.foodname {
	text-decoration: bold;
	font-weight: 700;
	float: right;
}

.foodprice {
	text-decoration: bold;
	font-weight: 700;
	float: left;
}

.foodimg {
	float: left;
}

.fooddes {
	color: #9b9b9b;
	text-align: right;
}
.subss button{
	border-radius: 4rem;
	border: 1px solid #ffe9f3;
	float: right;
	background-color: #fff;
    color: #d40062;
}
.floats {
	float: left;
}
.subss button:hover {
    background-color: #d40062;
    color: #fff;
}

.subss{
	position: relative;
	min-width: 45%;
	max-width: 45%;
	width: 45%;
	margin-left: 2%;
	margin-right: 2%;
}

.information {
	color: gray;
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ffe9f3;
}
.comments {
	color: gray;
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ffe9f3;
}

#section2 p{
	margin-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ffe9f3;
}
#section2 {
	margin-bottom: 40px;
}
.singlecm{
	border-bottom: 1px solid #ffe9f3;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.sticky {
	z-index: 100;
	padding-bottom: 25px;
	background-color: white;
	position: fixed;
	right: 0;
  padding-left: 22%;
  padding-right: 23%;
  top: 0;
  width: 100%;
}
.sticky .sd{
	width: 20%;
	padding-left:0px;
	padding-right: 0px;
}
#aftershop {
	display: none;
	float:right;
}